.placeOrderBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}


.placeOrderBtn button {
  background: rgb(52, 103, 245);
  color: #fff;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-top: 2.5rem;
}
